<div class='ms-auto'>
  <% if user_signed_in? && current_user.like?(make) %>
    <%= render 'makes/unlike', { make: make } %>
  <% else %>
    <%= render 'makes/like', { make: make } %>
  <% end %>
  <div id="like-count-for-make-<%= make.id %>">
    <%= make.likes.count %>
  </div>
</div>
