<!-- app/views/makes/_search_form.html.erb -->
<%= search_form_for @q, url: url do |f| %>
  <div class="flex items-center space-x-2 mb-3">
    <%= f.search_field :first_part_content_or_second_part_content_or_user_name_cont, class: 'input input-bordered input-primary w-full max-w-xs', placeholder: '名前か言葉を入れてね' %>
    <%= f.submit t('defaults.search'), class: 'btn btn-primary' %>
  </div>
<% end %>
