<div class="container mx-auto px-4 py-8">
  <h1 class="text-center text-3xl font-bold mb-4">Special Thanks</h1>
  <br>
  <p class="mb-4">
    おかげさまで、当アプリ、MeigenOtterをリリースすることができました。
    MeigenOtterを制作するにあたり、沢山の方々からのご協力を頂いたので、ここで挨拶とお礼ををさせて頂きます。
  </p>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-xl font-semibold mb-2">挨拶</h2>
    <p class="mb-4">
      自分の名前は、ずっと大地と言います。まずは、貴重な時間を割いて、MeigenOtterを開いて頂いたことに感謝いたします。少しだけ、挨拶をさせて頂きます。<br>
      自分の前職はスポーツ選手でした。スポーツ選手に一番欠かせないことは、モチベーションを保つことです。
      大会で良いパフォーマンスを出すためには、モチベーションがとても重要です。
      モチベーションが悪ければ、心技体のいずれのトレーニングにも身が入らず、良い効果は得られません。
      そのため、自分がモチベーションが上がりにくいと感じた時には、よく名言を検索して刺激を貰っていました。
      スポーツに限らず、何をするにも良いパフォーマンスを出すには、モチベーションの高さが関係すると思っています。
      MeigenOtterでは、名言という言葉を通して、少しでも皆様のモチベーションを上げるお手伝いができれば幸いです。<br>
      ちなみに、自分が知っている中で一番印象に残っている名言は、アメリカの元プロバスケットボールコーチ、ボビー・ナイトさんの
      『勝つ意欲は対して重要ではない。そんなものは誰もが持ち合わせている。重要なのは、勝つために準備をする意欲だ』です。<br>
      気軽に、また定期的に名言を受け取って頂ければ、とても嬉しいです。アプリ滞在時間は、最短で10秒ほどで済みます。それでは、MeigenOtterをどうぞよろしくお願いいたします。
    </p>

    <h2 class="text-xl font-semibold mb-2">RUNTEQ運営の皆様</h2>
    <p class="mb-4">
      RUNTEQというプログラミングスクールがなければ、プログラミングという少し特殊な分野の学習を、自分は継続できていなかったと断言できます。
      『自走力』の仕方は今もなお難しいですが、プログラミング学習において一番大切なことだと感じています。
      RUNTEQを作って下さった校長を筆頭に、CAさん、CTさん、講師の方々、また自分の知らないスタテクの皆様に、この場を借りて感謝いたします。
    </p>

    <h2 class="text-xl font-semibold mb-2">RUNTEQ生の皆様</h2>
    <p class="mb-4">
      日頃からのRUNTEQ生のGIVEの精神に感謝です。
      日々有益な情報が飛び交い、他の期であっても聞いたら教えてくれるという、普通あり得ない環境のおかげで、アプリ制作を終えたと思います。
      MeigenOtterに関しては、3月のとぴさんの環境構築の神イベントから始まり、MaTTaさんにOpenAIの使い方について教わり、伊藤さんには他の期の方々を集めて頂いて壁打ちの機会を頂きました。
      壁打ちでは、ミッツさんからXシェア時の文言についてアドバイスを、ボドさんとさこさんからは手軽さについてアドバイスを、きょうへいくんには名言作成の上の句と下の句という構成について意見を頂きました。
      ななさんとディングーさんには、AIから名言を受け取る機能より、作成や投稿をする方が嬉しい方もいるという貴重な意見を頂きました。
      どのアドバイスも自分なりに取り入れ、アプリ制作に活かすことができたと思っています。特に伊藤さんからは沢山フィードバック頂いたので、感謝しております。
      RUNTEQの生の皆さん、本当にありがとうございました。
    </p>

    <h2 class="text-xl font-semibold mb-2">51期の皆様</h2>
    <p class="mb-4">
      51期は居心地の良い場所です。他の期と比べると少し静かな所も、個人的は好きです。いつも居心地の良い場所をありがとうございます。<br>
      特に、あつしさん、ゆりさん、ゆきむらくん、ごっちゃんには、アプリ制作に関して沢山のアドバイスをもらいました。
      あつしさんとは進捗が近かったので、わからないことがあると共有し、とても心強かったです。
      ゆりさんには、当アプリのメインキャラクターのラッコを描いてもらいました。とても可愛くて気に入ってます。
      また、ゆきむらくんとゆりさんには、壁打ちの時にも客観的な意見を沢山もらったので、主観の意見との比較をできました。客観視は難しいので、とても助かりました。
      ごっちゃんにはアプリ名をはじめ、センスの良い言葉を沢山もらいました。いつもナイスワードセンスです。
      51期の皆さん、沢山のフィードバックをありがとうございました。
    </p>

    <h2 class="text-xl font-semibold mb-2">アプリを触って下さった皆様</h2>
    <p class="mb-4">
      直接的な名前は挙げられませんが、アプリを触って下さった皆様に感謝いたします。定期的に名言も作成して頂いて、本当にありがたいです。今後ともよろしくお願いします。
    </p>

    <h2 class="text-xl font-semibold mb-2">ご家族の皆様</h2>
    <p class="mb-4">
      最後に家族の皆さんに感謝します。スポーツ選手を引退し、新たな分野に挑戦できたのは、実家という有り難い環境で集中して学習できたおかげです。
      4年ぶりの実家での生活は楽しいですが、しっかり転職し、家をまた出たいと思います。本当にありがとうございました。
    </p>

  </div>
</div>