<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid gap-4 nav-links md:flex md:justify-center">
    <%= link_to t('footer.thanks'), "thanks", class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800 nav-item" %>
    <%= link_to t('footer.privacy'), "privacy", class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800 nav-item" %>
    <%= link_to t('footer.terms'), "terms", class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800 nav-item" %>
    <%= link_to t('footer.contact'), 'https://docs.google.com/forms/d/e/1FAIpQLSc_jJJPojl8KWO4qfvx7uIzvTkLzc5qfhx2PseONpIUF5_SLA/viewform?embedded=true', class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800 nav-item" %>
  </nav>
  <nav class="mt-4">
    <div class="grid grid-flow-col gap-4 social-icons justify-center">
      <a href="https://x.com/zuttodaichi" target="_blank" class="text-2xl">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="#" target="_blank" class="text-2xl">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="#" target="_blank" class="text-2xl">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>
  </nav>
  <aside class="mt-4">
    <p>&copy; 2024 - MeigenOtter</p>
  </aside>
</footer>

<style>
  @media (max-width: 768px) {
    .nav-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;
    }
    .social-icons {
      margin-top: 8px;
    }
  }

  @media (max-width: 290px) {
    .nav-links {
      gap: 2px;
    }
    .nav-item {
      font-size: 0.875rem;
    }
    .social-icons i {
      font-size: 1.5rem;
    }
  }
</style>
