<footer class="navbar bg-base-300">
  <div class="flex justify-between items-center w-full">
    <nav class="flex space-x-4">
      <%= link_to "contact us", 'https://docs.google.com/forms/d/e/1FAIpQLSdXONZU4mzWdVLs4EEUYuszMLkeRFoG3G3TGPteIOAwXurV1g/viewform?usp=sf_link', class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
      <%= link_to "privacy_policy", "privacy_policy", class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
      <%= link_to "terms_of_service", "terms_of_service", class: "hover:bg-base-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none" %>
    </nav>
    <aside class="text-sm text-right">
      <p>Copyright © 2024 - All rights reserved by ACME Industries Ltd</p>
    </aside>
  </div>
</footer>
