<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to t('footer.terms'), "terms", class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800" %>
    <%= link_to t('footer.privacy'), "privacy", class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800" %>
    <%= link_to t('footer.contact'), 'https://docs.google.com/forms/d/e/1FAIpQLSc_jJJPojl8KWO4qfvx7uIzvTkLzc5qfhx2PseONpIUF5_SLA/viewform?embedded=true', class: "link link-hover btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none dark:focus:ring-gray-800" %>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://x.com/zuttodaichi" target="_blank">
        <i class="fa-brands fa-x-twitter" style="font-size: 24px;"></i>
      </a>
      <a href="https://github.com/daichi3102" target="_blank">
        <i class="fa-brands fa-github" style="font-size: 24px;"></i>
      </a>
      <a href="https://bento.me/zuttodaichi" target="_blank">
        <i class="fa-solid fa-house" style="font-size: 24px;"></i>
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © 2024 - MeigenOtter</p>
  </aside>
</footer>
