<%= link_to "https://x.com/intent/tweet?url=https://meigenotter.com&text=名言の海を探索したら、こんな言葉を見つけたよ！%0a%0a#{quote}", target: '_blank', class: "btn btn-primary flex items-center justify-center gap-2" do %>
  <i class="fa-brands fa-x-twitter"></i>
  <span><%= t('fetch_ais.share') %></span>
<% end %>
