<%= link_to "https://twitter.com/share?url=https://wordpass-ldtw.onrender.com&text=名言の海を探索したら、こんな言葉を見つけたよ！%0a%0a#{@make}", target: '_blank', class: "btn btn-primary flex items-center justify-center gap-2" do %>
  <i class="fa-brands fa-x-twitter"></i>
  <span><%= t('fetch_ais.show.share') %></span>
<% end %>
