<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="tracking-widest text-gray-600 px-4 py-2 sm:px-1 md:px-2 lg:px-3"><%= t('views.pagination.truncate').html_safe %></span>
