<div class="flex flex-col items-center justify-center space-y-8">
  <div>
    <%= image_tag 'MOerror.PNG', style: "width: 200px; height: auto;" %>
  </div>
  <h1 class="text-black text-xl md:text-3xl">Sorry! This page is not available.</h1>
  <%= link_to '<<< Back', root_path, class: 'text-xl', style: "color: #00BFFF;" %>
</div>
