<div class="flex flex-col items-center justify-center space-y-8">
  <div>
    <%= image_tag 'MOerror.PNG', style: "width: 200px; height: auto;" %>
  </div>
  <h1 class="text-red-700 text-xl md:text-3xl">Oops! Something went wrong</h1>
  <p class="text-lg">Please be patient or try again later.</p>
  <%= link_to '<<< Back', root_path, class: 'text-xl', style: "color: #00BFFF;" %>
</div>