<!-- app/views/fetch_ais/new.html.erb -->
<br>
<h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('fetch_ais.new') %></h1>
<div class="flex justify-center items-center pt-8">
  <div class="w-2/3 text-center">
    <div class="flex flex-col items-center space-y-4 mb-4">
      <small class="text-gray-500 text-center mb-4">
      時間のない時にはすぐに受け取るボタン！<br>
      少しでもあれば、条件を指定して受け取ろう！<br><br>
      偉人、有名人、書籍、映画、漫画、アニメ<br>
      メジャー or マイナーな作品など<br>
      全５項目から自分で条件を選択しよう！

        <div class="flex justify-center item-center pt-8">
          <figure class="w-full sm:w-72">
            <img src="/MOai.gif" alt="GIF Image" class="rounded-xl w-full h-72 object-cover" />
          </figure>
        </div>
        <br>

        <div data-controller="loading"> 
        <%= render 'shared/ai_button', fetch_ai: @fetch_ai %>
        </div>
        <br><br>

        <div class="mb-8">
          <% if user_signed_in? %>
            <%= link_to t('fetch_ais.index'), fetch_ais_path, class: "btn btn-secondary mt-4" %>
          <% end %>
        </div>
        <br><br>
    </div>
  </div>
