<div class="flex justify-center items-start min-h-screen pt-8">
  <div class="w-2/3 text-center">
    <h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('fetch_ais.new.title') %></h1>
    
    <br><br>
    
    <%= render 'shared/ai_button', fetch_ai: @fetch_ai %>
    
    <br><br>

    <div class="mb-8">
      <% if user_signed_in? %>
        <%= link_to 'AIから受け取った名言一覧', fetch_ais_path, class: "btn btn-secondary mt-4" %>
      <% end %>
    </div>
    
  </div>
</div>
