<!-- app/views/fetch_ais/new.html.erb -->
<br>
<h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('fetch_ais.new') %></h1>
<div class="relative flex justify-center items-center pt-8">
  <div class="card card-side bg-base-100 shadow-xl w-full max-w-3xl mx-auto flex flex-col lg:flex-row">
    <figure class="w-full lg:w-1/2">
      <img src="/MOai.gif" alt="GIF Image" class="rounded-xl w-full h-full object-cover" style="object-fit: contain;" />
    </figure>
    <div class="card-body flex flex-col items-center justify-center text-center sm:justify-center">
      <small class="text-center text-gray-500 mb-4">
        時間のない時にはすぐに受け取るボタン！<br>
        少しでもあれば、条件を指定して受け取ろう！<br><br>
        偉人、有名人、書籍、映画、漫画、アニメ<br>
        メジャー or マイナーな作品など<br>
        全５項目から自分で条件を選択しよう！
      </small>
      <div data-controller="loading" class="w-full text-center sm:justify-center">
        <%= render 'shared/ai_button', fetch_ai: @fetch_ai %>
      </div>
      <% if user_signed_in? %>
        <div class="card-actions justify-center sm:justify-center mt-4">
          <%= link_to t('fetch_ais.index'), fetch_ais_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
